<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.nulldev.statusbarsleep">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Status bar double tap to sleep for almost all Android versions!" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>

</manifest>
